#bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/bg-pattern-intro.svg);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 38% 40%;
}

header {
    min-height: 510px;
    border-bottom-left-radius: 100px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top left, $bg-light-red, $bg-very-light-red);
}

@media screen and (min-width: 1440px) {
    #bg-image {
        background-size: 2800px;
        background-position: 20% 50%;
    }

    header {
        background: linear-gradient(to right, $bg-very-light-red, $bg-light-red);
    }
}

.navbar-main {
    padding: 1.5em 1.25em;
    justify-content: space-between;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .navbar-main {
        padding: 3rem 10rem;
        justify-content: space-between;
    }
}

.logo {
    font-size: 2rem;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.hb-menu-btn  {
    width: 2rem;
    height: 1.25rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
}

#mid-bar {
    transition: 0.3s ease-in-out;
    display: inline-block;
    height: 10%;
    width: 100%;
    background-color: white;
}

#mid-bar::before, #mid-bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    transition: 0.3s ease-in-out;
}

#mid-bar::before {
    transform: translateY(-0.5rem);
}

#mid-bar::after {
    transform: translateY(0.5rem);
}

.hb-menu-btn.open {
    #mid-bar {
        background: transparent;
    }
    #mid-bar::before {
        transform: rotate(45deg);
    }
    #mid-bar::after {
        transform: rotate(-45deg);
    }
}

.nav-menu {
    position: absolute;
    z-index: 1;
    top: 5rem;
    background: black;
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.top-level-menu {
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    li, button {
        cursor: pointer;
        color: $very-dark-blue;
        list-style-type: none;
        text-align: center;
        font-size: 1.3rem;
        padding: 0.2rem;
        margin: 0.5rem;
        font-weight: 600;
    }      
    ul {
        background-color: #ebebeb;
        border-radius: 0.3rem;
        a {
            color: $very-dark-grayish-blue;
            font-size: 1rem;
        }
    }  
}

.menu-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-hr {
    height: 1px;
    background-color: #ebebeb;
    border: none;
}

@media screen and (min-width: 1440px) {
    .hb-menu-btn {
        display: none !important;
    }

    .nav-menu {
        display: block !important;
        position: static;
        border-radius: 0.5rem;
        padding: 1rem;
        background: transparent;
        box-shadow: none;
    }

    .top-level-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        li, button {
            color: white;
            text-align: center;
            padding: 0.2rem;
            position: relative;
            font-size: 1rem;
        }      
        li {
            height: 100%;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 300;
            padding: 1.5rem;
        }
        ul {
            background-color: white;
            border-radius: 0.2rem;
            a {
                font-family: 'Ubuntu', sans-serif;
                color: $very-dark-grayish-blue;
                font-size: 0.8rem;
                font-weight: 300;
            }
            a:hover {
                color: black;
                font-weight: bold;
            }
            li {
                padding: 0;
            }
        }  
    }

    .menu-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .menu-hr {
        display: none;
    }
}

.login-btn, .signup-btn {
    display: block;
    border: none;
    margin: 0 !important;
    padding: 1rem 3rem !important;
}

.login-btn {
    background: transparent;
    a {
        color: $very-dark-blue;
    }
}

.signup-btn {
    border-radius: 2rem;
    align-self: center;
    background: linear-gradient(to right, $very-light-red, $light-red);
    a {
        color: white;
    }
}

@media screen and (min-width: 1440px) {
    .signup-btn {
        background: white;
        a {
            color: $light-red-cta-text;
        }
    }
    .signup-btn:hover {
        background: $very-light-red-cta-hover-bg;
        a{
            color: white;
        }   
    }
}


input[type=checkbox] {
    display: none;
} 

.top-level-menu ul {
    display: none;
}

input:checked ~ ul {
    display: block;
}


input:checked ~ .icon-arrow-dark {
    transform: rotate(180deg);
}

@media screen and (min-width: 1440px) {
    input:checked ~ ul {
        display: none;
    }

    .top-level-menu li:hover {
        text-decoration: underline;
        ul {
            display: block;
            position: absolute;
            top: 3.5rem;
            left: 0;
            width: 130%;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            li {
                text-align: start;
                text-decoration: none;
            }
        }
    }

    .login-btn a {
            color: white;
    }

    .icon-arrow-dark {
        display: none;
    }

}

// 



.tagline-and-cta-btns {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    position: relative;
    text-align: center;
    color: white;
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.cta-btns {
    border: none;
    padding: 0.6rem;
    width: 8rem;
    border-radius: 2rem;
    margin: 3rem 0.25rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

#start-btn {
    color: $light-red;
    background: white;
}

#learn-btn {
    color: white;
    background: transparent;
    border: 1px solid white;
}

#learn-btn:hover {
    background: white;
    color: $light-red;
}

#start-btn:hover {
    background: $very-light-red-cta-hover-bg;
    color: white;
}
