.navbar-main {
    background: linear-gradient(to right, $very-light-red, $light-red);
    padding: 1.5em 1.25em;
    justify-content: space-between;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .navbar-main {
        padding: 3rem 10rem;
        justify-content: start;
    }
}

.logo {
    font-size: 2rem;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.hb-menu-btn  {
    width: 2rem;
    height: 1.25rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
}

#mid-bar {
    transition: 0.3s ease-in-out;
    display: inline-block;
    height: 10%;
    width: 100%;
    background-color: white;
}

#mid-bar::before, #mid-bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    transition: 0.3s ease-in-out;
}

#mid-bar::before {
    transform: translateY(-0.5rem);
}

#mid-bar::after {
    transform: translateY(0.5rem);
}

.hb-menu-btn.open {
    #mid-bar {
        background: transparent;
    }
    #mid-bar::before {
        transform: rotate(45deg);
    }
    #mid-bar::after {
        transform: rotate(-45deg);
    }
}

.nav-menu {
    position: absolute;
    top: 8rem;
    background: black;
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.top-level-menu {
    display: flex;
    flex-direction: column;
    li, button {
        color: $very-dark-blue;
        list-style-type: none;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Overpass', sans-serif;
        padding: 0.2rem;
        margin: 1rem;
        font-weight: 600;
    }      
    ul {
        background-color: #ebebeb;
        border-radius: 0.3rem;
        a {
            color: $very-dark-grayish-blue;
            font-size: 1rem;
        }
    }  
}

.menu-hr {
    height: 1px;
    background-color: #ebebeb;
    border: none;
}

.login-btn, .signup-btn {
    display: block;
    border: none;
    margin: 0 !important;
    padding: 1rem 3rem !important;
}

.login-btn {
    background: transparent;
    a {
        color: $very-dark-blue;
    }
}

.signup-btn {
    border-radius: 2rem;
    align-self: center;
    background: linear-gradient(to right, $very-light-red, $light-red);
    a {
        color: white;
    }
}

input[type=checkbox] {
    display: none;
} 


.top-level-menu ul {
    display: none;
}

input:checked + ul {
    display: block;
}
