@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(../images/bg-pattern-intro.svg);
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: 38% 40%;
}

@media screen and (min-width: 1440px) {
  #bg-image {
    background-size: 2800px;
    background-position: 20% 50%;
  }
}

header {
  min-height: 510px;
  border-bottom-left-radius: 100px;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, right bottom, left top, from(#ff3d54), to(#ff8f70));
  background: linear-gradient(to top left, #ff3d54, #ff8f70);
}

@media screen and (min-width: 1440px) {
  header {
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right, #ff8f70, #ff3d54);
  }
}

.navbar-main {
  padding: 1.5em 1.25em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .navbar-main {
    padding: 3rem 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#logo {
  width: 20%;
  height: auto;
}

@media screen and (min-width: 1440px) {
  #logo {
    width: 6.25rem;
  }
}

.hb-menu-btn {
  width: 2rem;
  height: 1.25rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1440px) {
  .hb-menu-btn {
    display: none !important;
  }
}

#mid-bar {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: inline-block;
  height: 10%;
  width: 100%;
  background-color: white;
}

#mid-bar::before, #mid-bar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10%;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#mid-bar::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

#mid-bar::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.hb-menu-btn.open #mid-bar {
  background: transparent;
}

.hb-menu-btn.open #mid-bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hb-menu-btn.open #mid-bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-menu {
  position: absolute;
  z-index: 1;
  top: 5rem;
  background: black;
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1440px) {
  .nav-menu {
    display: block !important;
    position: static;
    border-radius: 0.5rem;
    padding: 1rem;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.top-level-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Overpass', sans-serif;
}

@media screen and (min-width: 1440px) {
  .top-level-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.top-level-menu li, .top-level-menu button {
  cursor: pointer;
  color: #1f3f5b;
  list-style-type: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.2rem;
  margin: 0.5rem;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .top-level-menu li, .top-level-menu button {
    color: white;
    text-align: center;
    padding: 0.2rem;
    position: relative;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .top-level-menu li {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 1.5rem;
  }
}

.top-level-menu ul {
  background-color: #ebebeb;
  border-radius: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .top-level-menu ul {
    background-color: white;
    border-radius: 0.2rem;
  }
}

.top-level-menu ul a {
  color: #4b5862;
  font-size: 1rem;
}

@media screen and (min-width: 1440px) {
  .top-level-menu ul a {
    font-family: 'Ubuntu', sans-serif;
    color: #4b5862;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 1440px) {
  .top-level-menu ul a:hover {
    color: black;
    font-weight: bold;
  }
}

@media screen and (min-width: 1440px) {
  .top-level-menu ul li {
    padding: 0;
  }
}

.menu-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1440px) {
  .menu-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.menu-hr {
  height: 1px;
  background-color: #ebebeb;
  border: none;
}

@media screen and (min-width: 1440px) {
  .menu-hr {
    display: none;
  }
}

.login-btn, .signup-btn {
  display: block;
  border: none;
  margin: 0 !important;
  padding: 1rem 3rem !important;
}

.login-btn {
  background: transparent;
}

.login-btn a {
  color: #1f3f5b;
}

.signup-btn {
  border-radius: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
}

@media screen and (min-width: 1440px) {
  .signup-btn {
    background: white;
  }
}

.signup-btn a {
  color: white;
}

@media screen and (min-width: 1440px) {
  .signup-btn a {
    color: #ff525d;
  }
}

@media screen and (min-width: 1440px) {
  .signup-btn:hover {
    background: #ff7a85;
  }
  .signup-btn:hover a {
    color: white;
  }
}

input[type=checkbox] {
  display: none;
}

.top-level-menu ul {
  display: none;
}

input:checked ~ ul {
  display: block;
}

@media screen and (min-width: 1440px) {
  input:checked ~ ul {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .top-level-menu li:hover {
    text-decoration: underline;
  }
  .top-level-menu li:hover ul {
    display: block;
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 130%;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  .top-level-menu li:hover ul li {
    text-align: start;
    text-decoration: none;
  }
}

@media screen and (min-width: 1440px) {
  .login-btn a {
    color: white;
  }
}

@media screen and (min-width: 1440px) {
  .icon-arrow-dark {
    display: none;
  }
}

input:checked ~ .icon-arrow-dark {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tagline-and-cta-btns {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  position: relative;
  text-align: center;
  color: white;
}

.tagline-and-cta-btns h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-btns {
  border: none;
  padding: 0.6rem;
  width: 8rem;
  border-radius: 2rem;
  margin: 3rem 0.25rem;
  font-weight: bold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#start-btn {
  color: #ff3d54;
  background: white;
}

#learn-btn {
  color: white;
  background: transparent;
  border: 1px solid white;
}

#learn-btn:hover {
  background: white;
  color: #ff3d54;
}

#start-btn:hover {
  background: #ff7a85;
  color: white;
}

.section1, .section3 {
  margin: 5rem 0 3rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.section1 h2, .section3 h2 {
  color: #1f3f5b;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.section1 img, .section3 img {
  margin: 2.5rem 0;
}

.section1 article, .section3 article {
  padding: 1.2rem;
  line-height: 1.5rem;
}

.section1 article h2, .section3 article h2 {
  margin: 1.5rem 0;
}

.section1 article p, .section3 article p {
  font-size: 0.9rem;
  color: #4b5862;
}

@media screen and (min-width: 1440px) {
  .section1 .section-title {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  .section1 article {
    text-align: left;
  }
  .section1 .text-container {
    margin-top: 5rem;
    max-width: 35%;
    margin-left: 8rem;
  }
}

#illustration-editor-desktop-svg {
  display: none;
}

@media screen and (min-width: 1440px) {
  #illustration-editor-desktop-svg {
    display: inline-block;
    width: 925px;
    height: 882px;
    position: absolute;
    right: -230px;
    top: 0;
  }
}

@media screen and (min-width: 1440px) {
  #illustration-editor-mobile-svg {
    display: none;
  }
}

.section2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 9rem;
  color: white;
}

#phones-svg {
  width: 90%;
  height: 300px;
  position: absolute;
  top: -120px;
}

@media screen and (min-width: 1440px) {
  #phones-svg {
    width: auto;
    height: auto;
    top: -60px;
    left: 10%;
  }
}

.section2-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 550px;
  width: 100%;
  background: #2c2d3f;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 55% -400%;
}

@media screen and (min-width: 1440px) {
  .section2-bg {
    min-height: 400px;
    background-size: 1100px;
    background-position: -55% 85%;
  }
}

.section2-bg .container {
  margin-top: 4rem;
  text-align: center;
  width: 85%;
}

.section2-bg .container h2 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.section2-bg .container p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1440px) {
  .section2 {
    margin-top: 22rem;
  }
  .section2 .container {
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    margin-left: auto;
    margin-right: 18%;
  }
  .section2 .container h2, .section2 .container p {
    text-align: left;
  }
}

.section3 {
  margin: 0;
}

.section3 h2 {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1440px) {
  .section3 {
    margin: 4rem 0;
    height: 900px;
  }
  .section3 .container {
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    margin-left: auto;
    margin-right: 18%;
  }
  .section3 .container h2, .section3 .container p {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  #illustration-laptop-desktop {
    display: block;
    position: absolute;
    left: -250px;
  }
  #illustration-laptop-mobile {
    display: none;
  }
}

#footer {
  margin-top: 7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background: #25252d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 5rem;
  text-align: center;
}

#footer p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

#footer ul {
  text-align: center;
  list-style-type: none;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

#footer ul a {
  text-decoration: none;
  color: #c8c8cb;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#footer .sub-heading {
  margin-bottom: 2rem;
}

#footer #logo {
  margin: 4rem 0;
  width: 6rem;
}

@media screen and (min-width: 1440px) {
  #footer #logo {
    width: 6.5rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */